videos/* filter=lfs diff=lfs merge=lfs -text
videos_plots/ddpg_dmp_rewardB_cr0_001_measures.png filter=lfs diff=lfs merge=lfs -text
videos_plots/ddpg_dmp_rewardB_cr0_01_measures.png filter=lfs diff=lfs merge=lfs -text
videos_plots/dmp_rewardBase_measures.png filter=lfs diff=lfs merge=lfs -text
videos_plots/dmp_baseline.mov filter=lfs diff=lfs merge=lfs -text
videos_plots/dmp_ddpg_baseline.mov filter=lfs diff=lfs merge=lfs -text
videos_plots/dmp_ddpg_rewardB.mov filter=lfs diff=lfs merge=lfs -text
videos_plots/ddpg_dmp_rewardB_ac0_001_measures.png filter=lfs diff=lfs merge=lfs -text
videos_plots/ddpg_dmp_rewardB_gamma0_9_measures.png filter=lfs diff=lfs merge=lfs -text
videos_plots/ddpg_dmp_rewardB_tau0_01_measures.png filter=lfs diff=lfs merge=lfs -text
videos_plots/ddpg_rewardBase_measures.png filter=lfs diff=lfs merge=lfs -text
videos_plots/ddpg_baseline.mov filter=lfs diff=lfs merge=lfs -text
videos_plots/ddpg_dmp_rewardB_ac0_0001_measures.png filter=lfs diff=lfs merge=lfs -text
videos_plots/ddpg_dmp_rewardB_tau0_1_measures.png filter=lfs diff=lfs merge=lfs -text
videos_plots/dmp_rewardB_measures.png filter=lfs diff=lfs merge=lfs -text
videos_plots/ddpg_dmp_rewardB_gamma0_0_measures.png filter=lfs diff=lfs merge=lfs -text
videos_plots/ddpg_rewardA_measures.png filter=lfs diff=lfs merge=lfs -text
videos_plots/ddpg_rewardB_measures.png filter=lfs diff=lfs merge=lfs -text
videos_plots/dmp_rewardA_measures.png filter=lfs diff=lfs merge=lfs -text
